{% extends 'base.html.twig' %}

{% block title %}Piece index{% endblock %}

{% block body %}
    
<div class="container">
    <h1>Piece index</h1>
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Titre</th>
                <th>Artiste</th>
                <th>Style</th>
                <th>Disponibilité</th>
                <th>Image</th>
                <th>Description</th>
                <th>Matériaux et Technique</th>
                <th>Date de création</th>
                <th>UpdatedAt</th>
                <th>Taille</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for piece in pieces %}
            <tr>
                <td>{{ piece.id }}</td>
                <td>{{ piece.title }}</td>
                <td>{{ piece.artist }}</td>
                <td>{{ piece.style }}</td>
                <td>{{ piece.availability ? 'Yes' : 'No' }}</td>
                <td>{{ piece.image }}</td>
                <td>{{ piece.description }}</td>
                <td>{{ piece.materialsTechnique }}</td>
                <td>{{ piece.creationDate }}</td>
                <td>{{ piece.updatedAt ? piece.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ piece.size }}</td>
                <td>
                    <a href="{{ path('piece_show', {'id': piece.id}) }}" class="btn btn-primary" role="button"><i class="far fa-eye"></i> </a>
                    <a href="{{ path('piece_edit', {'id': piece.id}) }}" class="btn btn-primary" role="button"><i class="fas fa-pencil-alt"></i></a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('piece_new') }}" class="btn btn-success" role="button">Create new +</a>
</div>
{% endblock %}
