{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
<div class="container collection d-flex">
               {% for piece in pieces %}
               <div class="flex-md-column m-5">
                <img style="width: 200px;" src="../../assets/images/{{ piece.image }}" alt="{{ piece.image }}">
                <div class="card-body">
                  <h5 class="card-title">{{ piece.title }}</h5>
                  <p class="card-text">{{ piece.artist }}</p>
                  <p class="card-text">{{ piece.size }}</p>
                  <a href="{{ path('piece_show', {'id': piece.id}) }}" class="btn btn-primary">Go somewhere</a>
                </div>
              </div>
               {% endfor %}
</div>
  

{% endblock %}

