{% extends 'base.html.twig' %}

{% block title %}Renting{% endblock %}

{% block body %}
    <h1>Détail de la commande nº {{ renting.id }} : </h1>

    {% for rentingDetail in renting.rentingDetails %}

        <table class="table">
            <tbody>
                <tr>
                    <th>Id</th>
                    <td>{{ renting.id }}</td>
                </tr>
                <tr>
                    <th>Date</th>
                    <td>{{ renting.date ? renting.date|date('d-m-Y') : '' }}</td>
                </tr>
                <tr>
                    <th>Statuts</th>
                    {% if renting.statuts == "pending" %}
                        <td>En cours de préparation</td> 
                    {% elseif renting.statuts == "shipped" %}
                        <td>En cours de livraison</td> 
                    {% else %}
                        <td>Terminée</td> 
                    {% endif %}
                </tr>

                {% for piece in rentingDetail.piece %}
                    <tr>
                        {# {{ dump(piece) }} #}
                        <th>Oeuvre Id nº{{ piece.id }}</th>
                        <td>{{ piece.title }}</td>
                    </tr> 
                {% endfor %}

                <tr>
                    <th><strong>Total de la commande</strong></th>
                    <td><strong>{{ rentingDetail.priceOption }}</strong></td>
                </tr>

            </tbody>
        </table>
    {% endfor %}

    <a href="{{ path('renting_edit', {'id': renting.id}) }}" class="btn btn-primary m-2" role="button"><i class="fas fa-pencil-alt"></a>

    {{ include('renting/_delete_form.html.twig') }}
    
    <a href="{{ path('renting_index') }}" class="mb-5"><i class="fas fa-arrow-alt-circle-left m-2"></i>Retour à la liste</a>  

{% endblock %}
