<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Find My Art{% endblock %}</title>
        {# Run `composer require symfony/webpack-encore-bundle`
           and uncomment the following Encore helpers to start using Symfony UX #}
        {% block stylesheets %}
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" />
        <script src="https://unpkg.com/scrollreveal@4"></script>
        <!-- Police d'écriture  -->
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Ruda:wght@400;500;600;700;800;900&display=swap" rel="stylesheet"> 

        <!-- Icônes  -->
        <a href="https://icons8.com/icon/64792/shutdown"></a>
        {{ encore_entry_link_tags('app') }}
        {{ encore_entry_script_tags('app') }}
        
        {% endblock %}



        {% block javascripts %}

           
        {% endblock %}
    </head>
    <body>
        <header>
            <nav class="navbar">

                <div class="links left">
                    <ul>
                        <li><a href="{{ path('home') }}" class="collectionlink">Collection</a></li>
                    </ul>
                </div>
            
                <div  class="logo">
                    <a href="{{ path('home') }}">
                        <img src="{{ asset('build/images/logoFMA2.png') }}" alt="logo Find My Art">
                    </a>
                </div>
                <div class="right">
                    <div class="links linksright">
                        <ul>
                            <li><a href="{{ path('concept') }}" class="conceptlink">Concept</a></li>
                        </ul>
                    </div>

                    <div class="icon">

                        {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                            {# affichage prénom utilisateur
                            <a href="{{ path('user_account') }}">{{ app.user.firstname }}<i class="far fa-user"></i></a> #}

                            <a href="{{ path('user_account') }}"><i class="far fa-user user-icon"></i></a>
                        {% else %}
                            <a href="{{ path('app_login') }}"><i class="far fa-user user-icon"></i></a>
                        {% endif %}

                        {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                            <a class="link-logout" href="{{ path('app_logout') }}"><i class="fas fa-sign-out-alt"></i></a>
                        {% endif %}

                        <a href="{{ path('basket') }}"><i class="fas fa-palette basket-icon"></i></a>
                    </div>
                </div>
            </nav>

        </header>

        
    
        {% block body %}
        
        <script src="https://unpkg.com/scrollreveal"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js" integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.1/dist/umd/popper.min.js" integrity="sha384-SR1sx49pcuLnqZUnnPwx6FCym0wLsk5JZuNx2bPPENzswTNFaQU1RDvt3wT4gWFG" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.min.js" integrity="sha384-j0CNLUeiqtyaRmlzUHCPZ+Gy5fQu0dQ6eZ/xAww941Ai1SxSY+0EQqNXNE6DZiVc" crossorigin="anonymous"></script>
        
        {% endblock %}

        <footer class="footer">

            <section class="footer-links">

                <div class="footer-links--pages">
                    <a href="{{ path('home') }}">Collection</a>
                    <a href="{{ path('concept') }}">Concept</a>
                    <a href="{{ path('legal_notice') }}">Mentions légales</a>
                </div>   
                
                <div class="networks-icons">
                    <a href="#"><i class="fab fa-instagram"></i></a>
                    <a href="#"><i class="fab fa-facebook-f"></i></a>
                    <a href="#"><i class="fab fa-twitter"></i></a>
                </div>

                <div class="footer-contact">
                    <a href="{{ path('concept') }}#map">Nous contacter</a>
                    <a href="{{ path('concept') }}#map"><i class="fas fa-paper-plane"></i></a>
                </div>

            </section>

            <div class="credits">
                <p>Projet de fin de formation par Abdallah Aissiou, Julien Bellet, Léa Buguinet et Nathalie Thisse</p>
                <p><a href="lapasserelle.school">La Passerelle</a></p>
                <p>Find My Art © 2021<p>
            </div>


        </footer>
    </body>
</html>
