{% extends 'base.html.twig' %}

{% block title %}Owner index{% endblock %}

{% block body %}
    <h1>Owner index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Email</th>
                <th>category</th>
            </tr>
        </thead>
        <tbody>
        {% for owner in owners %}
            <tr>
                <td>{{ owner.id }}</td>
                <td>{{ owner.name }}</td>
                <td>{{ owner.email }}</td>
                <td>{{ owner.category }}</td>
                <td>
                    <a href="{{ path('owner_show', {'id': owner.id}) }}"class="btn btn-primary" role="button"><i class="far fa-eye"></i></a>
                    <a href="{{ path('owner_edit', {'id': owner.id}) }}"class="btn btn-primary" role="button"><i class="fas fa-pencil-alt"></i></a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('owner_new') }}"class="btn btn-success" role="button">Create new +</a>
{% endblock %}
