{% extends 'base.html.twig' %}

{% block title %} Ma sélection {% endblock %}

{% block body %}

<div class="basket container">

    <h1>Votre sélection :</h1>

        <table class="table">
            <thead>
                <tr>
                    <th>Nom de l'oeuvre</th>                    
                    <th>Apperçu</th>
                    <th>Nom de l'artiste</th>
                    <th>Style</th>
                    <th>Prix par mois</th>
                    <th></th>
                </tr>
            </thead>
            
            <tbody>
                {% set result = 0 %}
                {% for piece in panier %}
                    <tr>
                        <td>{{ piece.title }}</td>                        
                        <td><img src="{{ findmyart_display_image(piece, 'imageFile') }}" alt="{{ piece.title }}" /></td>
                        <td>{{ piece.artist }}</td>
                        <td>{{ piece.style }}</td>
                        <td>{{ piece.price }}€</td>
                        <td><a href="{{path('remove_basket',{'id': piece.id})}}"><i class="far fa-trash-alt"></i></a></li>
                        {% set result = result + piece.price %}</td>
                    </tr>
                {% endfor %}
                    
                    <tr>
                        <td colspan="6"><strong>Total : {{ result }} €</strong></td>
                    </tr>

            </tbody>
        </table>
        
        <div class="boutons">
            {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                <a href="{{path('add_renting')}}">Confirmer la sélection</a>
            {% else %}
                <a href="{{path('app_login')}}">Veuillez vous connecter</a>
            {% endif %}
        </div>
</div>

{% endblock %}
