{% extends 'base.html.twig' %}

{% block title %}Hello BasketController!{% endblock %}

{% block body %}

<div class="basket">

    <h1>Votre sélection :</h1>

        <table class="table">
            <thead>
                <tr>
                    <th>Nom de l'oeuvre</th>
                    <th>Apperçu</th>
                    <th>Prix par mois</th>
                    <th></th>
                </tr>
            </thead>
            
            <tbody>
                {% set result = 0 %}
                {% for piece in panier %}
                    <tr>
                        <td>{{ piece.title }}</td>
                        <td><img src="{{ findmyart_display_image(piece, 'imageFile') }}" alt="{{ piece.title }}" /></td>
                        <td>{{ piece.price }}€</td>
                        <td><a href="{{path('remove_basket',{'id': piece.id})}}"><i class="far fa-trash-alt"></i></a></li>
                        {% set result = result + piece.price %}</td>
                    </tr>
                {% endfor %}
                    
                    <tr>
                        <td colspan="4">Total : {{ result }} €</td>
                    </tr>

            </tbody>
        </table>

        <a href="{{path('add_renting')}}">Confirmer la sélection</a>

</div>

{% endblock %}
