{% extends 'base.html.twig' %}

{% block title %}page show 1 piece{% endblock %}

{% block body %}

    <h2>Oeuvre : {{ piece.title }}</h2>

    <img src="{{ findmyart_display_image(piece, 'imageFile') }}" alt="{{ piece.title }}" />

    <p>Nom de l'artiste : {{ piece.artist }}</p>

    {% if piece.style == "Photography" %}
        <p>Style : Photographie</p>
    {% elseif piece.style == "DigitalArt" %}
        <p>Style : Art Digital</p>
    {% elseif piece.style == "ContemporaryArt" %}
        <p>Style : Art Contemporain</p>
    {% else %}
        <p>Style : Street Art</p>
    {% endif %}


    {% if piece.availability == 1 %}
        <i class="green-circle fas fa-circle"></i><p>Disponible</p>
    {% else %}
        <i class="red-circle fas fa-circle"></i><p>Indisponible</p>
    {% endif %}

    <p>Taille : {{ piece.size }}</p>
    <p>Description : {{ piece.description }}</p>
    <p>Matériaux : {{ piece.materialsTechnique }}</p>
    <p>Date de création : {{ piece.creationDate }}</p>
    <p>Prêteur : {{ piece.owner.name }}</p>
    


{% endblock %}
