{% extends 'base.html.twig' %}

{% block title %}User{% endblock %}

{% block body %}
    <h1>User</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ user.id }}</td>
            </tr>
            <tr>
                <th>Lastname</th>
                <td>{{ user.lastname }}</td>
            </tr>
            <tr>
                <th>Firstname</th>
                <td>{{ user.firstname }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ user.email }}</td>
            </tr>
            <tr>
                <th>Address</th>
                <td>{{ user.address }}</td>
            </tr>
            <tr>
                <th>Postcode</th>
                <td>{{ user.postcode }}</td>
            </tr>
            <tr>
                <th>City</th>
                <td>{{ user.city }}</td>
            </tr>
            <tr>
                <th>Phone</th>
                <td>{{ user.phone }}</td>
            </tr>
            <tr>
                <th>doc validated</th>
                <td>{{ user.DocValidated }}</td>
            </tr>
            <tr>
                <th>IsVerified</th>
                <td>{{ user.isVerified ? 'Yes' : 'No' }}</td>
            </tr>
            <tr>
                <th>Roles</th>
                <td>{{ user.roles ? user.roles|json_encode : '' }}</td>
            </tr>
            <tr>
                <th>Password</th>
                <td>{{ user.password }}</td>
            </tr>
            <tr>
                <th>Carte d'identité :</th>
                {% if (user.identityCard != null ) %}
                    <td>{{ user.identityCard }}</td>
                {% else %}
                    <td class="red">Pas de document disponible</td>
                {% endif %}
            </tr>
            <tr>
                <th>Certificat de domicile :</th>
                {% if (user.residenceCertificate != null ) %}
                    <td>{{ user.residenceCertificate }}</td>
                {% else %}
                    <td class="red">Pas de document uploadé</td>
                {% endif %}
            </tr>
            <tr>
                <th>Certificat d'assurance :</th>
                {% if (user.insuranceCertificate != null ) %}
                    <td>{{ user.insuranceCertificate }}</td>
                {% else %}
                    <td class="red">Pas de document uploadé</td>
                {% endif %}
            </tr>

        </tbody>
    </table>

    <a href="{{ path('user_edit', {'id': user.id}) }}" class="btn btn-primary m-2" role="button"><i class="fas fa-pencil-alt"></i></a>

    {{ include('user/_delete_form.html.twig') }}

    <a href="{{ path('user_index') }}" class="mb-5"><i class="fas fa-arrow-alt-circle-left m-2"></i>Retour à la liste</a>

{% endblock %}
